/// IMPORT FILES
@use 'variables' as *;

/// CONTENT
#bioSection {

    .row {
        
        row-gap: 2rem;
        column-gap: 6rem;
    }

    .horsemen {

        font-family: 'horsemen', sans-serif;
        font-weight: 100;

        padding: 10px;

        &::before {

            display: none;
        }

        &::after {

            padding: 10px;
        }
    }
}