/// IMPORT FILES
@use 'variables' as *;

/// SEPARATORS

.custom-shape-divider-top-card { // from shape divier app https://www.shapedivider.app/

    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    overflow: hidden;
    line-height: 0;

    @include responsive(tablet) {

        width: 200%;
    }

    @include responsive(desktop) {

        width: 100%;
    }

    svg {

        position: relative;
        display: block;
        width: calc(102% + 1.3px);
        height: 100px;
    }

    .shape-fill {

        fill: $darkPurple;
    }
}


.custom-shape-divider-bottom-card { // from shape divier app https://www.shapedivider.app/

    position: absolute;
    bottom: 0;
    left: 0;
    width: 300%;
    overflow: hidden;
    line-height: 0;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);

    @include responsive(tablet) {

        width: 200%;
    }

    @include responsive(desktop) {

        width: 100%;
    }

    svg {

        position: relative;
        display: block;
        width: calc(102% + 1.3px);
        height: 107px;
    }

    .shape-fill {

        fill: $darkPurple;
    }
}

/// LAYOUT

#cardSection {

    background-color: $lightPurple;

    .cardsContainer {

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        row-gap: 4rem;

        margin-top: 50px;

        width: 100%;

        .row {

            -webkit-box-pack: space-evenly;

                -ms-flex-pack: space-evenly;

                    justify-content: space-evenly;

            -ms-flex-wrap: wrap;

                flex-wrap: wrap;
            row-gap: 4rem;

            -webkit-box-align: center;

                -ms-flex-align: center;

                    align-items: center;
        }
    }
}

// CARDS

.cardContainer { //general

    width: 300px; // I very dislike this way of doing it because the cards does not have their own height depending on their content but I have to because of the flip
    height: 320px;

    -webkit-transition: 500ms ease-out;

    -o-transition: 500ms ease-out;

    transition: 500ms ease-out;

    @include responsive(littleMobile) {

        width: 340px;
        height: 345px;
    }

    @include responsive(UHD) {

        width: 500px;
        height: 484px;
    }

    .card {

        width: 100%;
        height: 100%;

        position: relative;

        .front {

            width: 100%;
            height: 100%;

            position: relative;
        }

        .cardImg {

            aspect-ratio: 16 / 9;
        }

        .cardOnline, .cardArchive{

            position: absolute;

            top: 3%;
            left: 3%;

            background-color: $green;

            padding: 5px 15px;

            border-radius: 10px;

            color: $white;
            font-family: 'AudioWide', sans-serif;
            font-size: 1rem;

            -webkit-box-shadow: 0 0 8px $purple;

                    box-shadow: 0 0 8px $purple;

            @include responsive(UHD) {

                font-size: 1.2rem;
            }
        }

        .cardArchive {

            background-color: $orange !important;
        }

        .cardBody {

            background-color: $purple;

            padding: 10px;

            position: relative;

            z-index: 0;

            .cardText {

                width: 50%;

                .cardTitle {

                    color: $white;

                    font-size: 2rem;
                    font-family: 'Neon', sans-serif;

                    position: relative;

                    width: -webkit-fit-content;

                    width: -moz-fit-content;

                    width: fit-content;

                    z-index: 2;

                    text-shadow: 0 0 2px $white;

                    margin-bottom: 20px;

                    @include responsive(UHD) {

                        font-size: 3rem;
                    }
                }

                .cardTags {

                    display: -webkit-box;

                    display: -ms-flexbox;

                    display: flex;
                    -ms-flex-wrap: wrap;
                        flex-wrap: wrap;

                    gap: 10px;

                    span {

                        background: $hotGradientMovingDiagonal;
                        -webkit-animation: gradientMovingDiagonal 20s linear infinite;
                                animation: gradientMovingDiagonal 20s linear infinite;
                        background-size: 200% 200%;

                        z-index: 2;

                        padding: 2px 10px;

                        border-radius: 10px;

                        color: $darkPurple;

                        font-family: 'AudioWide', sans-serif;
                        font-size: 1rem;
                        text-align: center;

                        -webkit-box-shadow: 0 0 5px $orange;

                                box-shadow: 0 0 5px $orange;

                        text-wrap: nowrap;

                        @include responsive(UHD) {

                            font-size: 1.5rem;
                        }
                    }
                }
            }

            .cardIcon {

                position: absolute;

                bottom: 10px;
                right: 10px;
                z-index: 2;

                max-width: 45%;
                height: auto;
                max-height: 200px;

                -webkit-filter: drop-shadow(0 0 3px $darkPurple);

                        filter: drop-shadow(0 0 3px $darkPurple);

                display: none;

                @include responsive(tablet) {

                    display: block;
                }
            }
        }
    }

    &--online { // specific to online cards

        overflow: hidden;
        border-radius: 20px;

        -webkit-box-shadow: 0 0 20px $purple;

                box-shadow: 0 0 20px $purple;

        &:hover {

            cursor: pointer;

            -webkit-transform: translateY(-5%);

                -ms-transform: translateY(-5%);

                    transform: translateY(-5%);

            .cardBody {

                &::before { // glass effect

                    -webkit-transform: skew(-45deg) translate(250%, -10%);

                        -ms-transform: skew(-45deg) translate(250%, -10%);

                            transform: skew(-45deg) translate(250%, -10%);
                }

                .cardTitle::before { // underline

                    width: 100% !important;
                }
            }
        }

        .cardBody {

            &::before { // glass effect

                content: "";
                                
                position: absolute;

                width: 50%;
                height: 120%;
                z-index: 1;

                opacity: 30%;
                background: $white;

                -webkit-filter: blur(50px);

                        filter: blur(50px);

                -webkit-transition: 500ms ease-out;

                -o-transition: 500ms ease-out;

                transition: 500ms ease-out;
                -webkit-transform: skew(-45deg) translate(-200%, -10%);
                    -ms-transform: skew(-45deg) translate(-200%, -10%);
                        transform: skew(-45deg) translate(-200%, -10%);

                display: none;

                @include responsive(tablet) {

                    display: block;
                }
            }

            .cardTitle {

                &::before { // underline

                    content: "";

                    position: absolute;
                    bottom: 8px;
                    left: 0;

                    width: 0%;
                    height: 2px;

                    border-radius: 50%;
                    background-color: $white;

                    -webkit-box-shadow: 0 0 2px $white;

                            box-shadow: 0 0 2px $white;

                    -webkit-transition: 500ms ease-out;

                    -o-transition: 500ms ease-out;

                    transition: 500ms ease-out;

                    display: none;

                    @include responsive(tablet) {

                        display: block;
                    }
                }
            }
        }
    }


    &--archive { // specific to not online cards

        &:hover {

            .card {

                -webkit-transform: rotateY(180deg);

                        transform: rotateY(180deg);
            }
        }

        .card {

            -webkit-transition: -webkit-transform 1500ms;

            transition: -webkit-transform 1500ms;

            -o-transition: transform 1500ms;

            transition: transform 1500ms;

            transition: transform 1500ms, -webkit-transform 1500ms;
            -webkit-transform-style: preserve-3d;
                    transform-style: preserve-3d;


            .front, .back {

                width: 100%;
                height: 100%;

                position: absolute;

                backface-visibility: hidden;
                -webkit-backface-visibility: hidden;

                border-radius: 20px;
                overflow: hidden;

                -webkit-box-shadow: 0 0 20px $purple;

                        box-shadow: 0 0 20px $purple;

                -o-object-fit: contain;

                   object-fit: contain;
            }

            .back {

                -webkit-transform: rotateY(180deg);

                        transform: rotateY(180deg);

                .cardBody--back {

                    position: relative;

                    width: 100%;
                    height: 100%;

                    padding: 20px;

                    background-color: $purple;

                    .cardText--back {

                        width: 100%;

                        .cardTitle--back {

                            color: $white;

                            font-size: 2rem;
                            font-family: 'Neon', sans-serif;

                            position: relative;

                            width: -webkit-fit-content;

                            width: -moz-fit-content;

                            width: fit-content;

                            z-index: 2;

                            text-shadow: 0 0 2px $white;

                            margin-bottom: 20px;
                        }

                        p {

                            font-size: 1rem;

                            @include responsive(UHD) {

                                font-size: 1.6rem;
                            }
                        }
                    }
                }
            }
        }
    }
}