/// IMPORT FILES
@use 'variables' as *;

/// CONTENT
#introSection {

    background: $purpleGradient;

    height: auto !important;

    display: grid;
    grid-template-areas: "stack";

    margin: 0;
    padding: 0;

    z-index: 0;

    * {

        grid-area: stack;

        align-self: center;
        justify-self: center;
    }

    #grid {

        z-index: 0;
    }
    
    #stars {
        
        z-index: 1;
    }

    #sun {

        z-index: 2;
    }

    #palms {

        z-index: 3;
    }

    #horizon {

        z-index: 4;
    }

    #scroll {

        z-index: 5;

        position: absolute;
        top: 82%;
        left: 50%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        pointer-events: none;

        #scroll1, #scroll2 {

            pointer-events: all;
            width: 20px;
            height: auto;

            transform: translate(0);
            
            filter: 
                drop-shadow(0 0 4px $orange)
                drop-shadow(0 0 1px $darkPurple);


            opacity: 40%;

            transition: opacity 1500ms ease;

            &.glowing {

                opacity: 100%;
            }

            @include responsive(tablet) {

                width: 40px;
            }
        }
    }

    #transition {

        z-index: 10;

        transform: translateY(10px);

        pointer-events: none;
    }

    h1 {

        z-index: 6;

        display: flex;
        flex-direction: column;

        transform: rotate(-5deg);

        color: white;

        line-height: 2.5rem;

        @include responsive(mobile) {

                line-height: 3.5rem;
        }

        @include responsive(tablet) {

                line-height: 5.5rem;
        }

        @include responsive(desktop) {

                line-height: 7.5rem;
        }

        @include responsive(FHD) {

                line-height: 9rem;
        }

        @include responsive(UHD) {

                line-height: 11rem;
        }

        #h1Web {

            z-index: 6;

            color: $orange;

            filter: 
                drop-shadow(0 0 3px $orange)
                drop-shadow(0 0 5px $purple);

            font-family: 'Horsemen', sans-serif;
            font-weight: 100;
            font-size: 2.5rem;

            align-self: center;

            @include responsive(mobile) {

                font-size: 3.5rem;
            }

            @include responsive(tablet) {

                font-size: 6rem;
            }

            @include responsive(desktop) {

                font-size: 8rem;
            }

            @include responsive(FHD) {

                font-size: 10rem;
            }

            @include responsive(UHD) {

                font-size: 12rem;
            }
        }

        #h1Dev {

            z-index: 7;

            filter: 
                drop-shadow(0 0 5px $pink) 
                drop-shadow(0 0 5px $pink) 
                drop-shadow(0 0 5px $pink) 
                drop-shadow(0 0 2px $purple);

            font-family: 'AXROutrunner', sans-serif;
            font-weight: 100;
            font-size: 4rem;

            align-self: center;

            @include responsive(mobile) {

                font-size: 6rem;
            }

            @include responsive(tablet) {

                font-size: 10rem;
            }

            @include responsive(desktop) {

                font-size: 12rem;
            }

            @include responsive(FHD) {

                font-size: 15rem;
            }

            @include responsive(UHD) {

                font-size: 18rem;
            }
        }

        #h1Name {

            z-index: 7;

            filter: drop-shadow(0 0 2px $purple);

            text-wrap: nowrap;
            font-family: 'Torchzilla', sans-serif;
            font-weight: 100;
            font-size: 1.2rem;

            align-self: end;

            @include responsive(mobile) {

                font-size: 1.8rem;
            }

            @include responsive(tablet) {

                font-size: 2.8rem;
            }

            @include responsive(desktop) {

                font-size: 3.2rem;
            }

            @include responsive(FHD) {

                font-size: 4.2rem;
            }

            @include responsive(UHD) {

                font-size: 5.2rem;
            }
        }
    }
}

.landscape { // webp images size : 1920 x 1080

    display: block;

    width: 100%;
    aspect-ratio: 16/9;

    @media (orientation: portrait) {

        display: none;
    }
}

.portrait { // webp images size : 1080 x 1440

    display: block;

    width: 100%;
    aspect-ratio: 3/4;

    @media (orientation: landscape)  {

        display: none;
    }
}