/// IMPORT FILES
@use 'variables' as *;

/// CONTENT
#introSection {

    min-height: 40vh !important;
    width: 100%;

    position: relative;

    background: $purpleGradient;

    margin-bottom: 40% !important;

    @include responsive(mobile) {

        min-height: 50vh !important;
    }

    @include responsive(tablet) {

        min-height: 80vh !important;

    }

    @include responsive(desktop) {

        min-height: 100vh !important;

    }

    * { // center every elements based on the top-center

        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
    }

    #sun {

        width: 80%;
        max-height: 80%;

        filter: drop-shadow(0 0 0.8rem $orange);

        @include responsive(tablet) {

            width: 60%;
        }
    }

    #palms {

        width: 65%;
        max-height: 75%;

        transform: translate(-50%, 2%) rotateY(180deg);

        filter: drop-shadow(0 0 0.8rem $darkPurple);

        @include responsive(desktop) {

            max-height: 70%;
        }

        @include responsive(bigScreen) {

            max-height: 75%;
        }
    }

    #horizon {

        width: 50%;
        height: auto;

        transform: translate(-50%, 30%);

        filter: blur(4px) drop-shadow(0 0 5px $pink);

        @include responsive(mobile) {

            filter: blur(6px) drop-shadow(0 0 5px $pink);
        }

        @include responsive(tablet) {

            filter: blur(8px) drop-shadow(0 0 5px $pink);
        }

        @include responsive(desktop) {

            filter: blur(10px) drop-shadow(0 0 5px $pink);
        }

        @include responsive(bigScreen) {

            filter: blur(12px) drop-shadow(0 0 5px $pink);
        }

        @include responsive(FHD) {

            filter: blur(14px) drop-shadow(0 0 5px $pink);
        }

        @include responsive(UHD) {

            filter: blur(16px) drop-shadow(0 0 5px $pink);
        }
    }

    #grid {
        
        width: 100%;

        transform: translate(-50%, 70%);
    }

    #layerBack, #layerFront {

        width: 100%;

        transform: translate(-50%, 70%);
    }

    #layerFront {

        transform: translate(-50%, 80%);
    }

    .star {

        width: 1.5rem;
        height: auto;

        @include  responsive (tablet) {

            width: 2rem;
        }

        @include  responsive (bigScreen) {

            width: 2.5rem;
        }

        @include  responsive (FHD) {

            width: 3rem;
        }

        @include  responsive (UHD) {

            width: 3.5rem;
        }

        &#star1 { // half

            top: 30%;
            left: 10%;

            @include responsive(mobile) {

                top: 25%;
            }

            @include responsive(tablet) {

                top: 30%;
            }
        }

        &#star2 { // half

            top: 5%;
            left: 25%;

            @include responsive(mobile) {

                top: 0;
            }

            @include responsive(tablet) {

                top: 5%;
            }
        }

        &#star3 { // full

            top: 10%;
            left: 55%;
        }

        &#star4 { // half
            
            top: 25%;
            left: 80%;

            @include responsive(mobile) {

                top: 20%;
            }

            @include responsive(tablet) {

                top: 25%;
            }
        }

        &#star5 { // full

            top: 5%;
            left: 90%;
        }
    }

    h1 {

        transform: rotate(-5deg);

        width: 100%;

        left: 0;
        top: 50%;

        span {

            position: absolute;

            &#h1Web { 

                background: $hotGradientVertical;
                
                background-clip: text;
                color: transparent;

                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;

                width: fit-content;

                filter: 
                    drop-shadow(0 0 3px $orange)
                    drop-shadow(0 0 5px $purple);

                font-family: 'Horsemen', sans-serif;
                font-weight: 100;
                font-size: 3rem;

                padding: 15px;

                top: -5px;

                @include responsive(mobile) {

                    font-size: 4rem;

                    padding: 20px;

                    top: -20px;
                }

                @include responsive(tablet) {

                    font-size: 5rem;

                    top: -10px;

                    padding: 25px;
                }

                @include responsive(desktop) {

                    font-size: 6rem;

                    padding: 30px;

                    top: 0;
                }

                @include responsive(bigScreen) {

                    font-size: 7rem;

                    padding: 35px;
                }

                @include responsive(FHD) {

                    font-size: 12rem;

                    padding: 40px;
                }

                @include responsive(UHD) {

                    font-size: 16rem;

                    padding: 70px;
                }
            }

            &#h1Dev {

                color: $white;

                filter: 
                    drop-shadow(0 0 5px $pink) 
                    drop-shadow(0 0 5px $pink) 
                    drop-shadow(0 0 2px $purple);

                font-family: 'AXROutrunner', sans-serif;
                font-weight: 100;
                font-size: 5rem;

                left: 55%;
                top: 30px;
                

                @include responsive(mobile) {

                    font-size: 7rem;
                    
                    top: 40px;
                }

                @include responsive(tablet) {

                    font-size: 8rem;
                    
                    top: 60px;
                }

                @include responsive(desktop) {

                    font-size: 10rem;
                    
                    top: 80px;
                }

                @include responsive(bigScreen) {

                    font-size: 12rem;
                    
                    top: 100px;
                }

                @include responsive(FHD) {

                    font-size: 18rem;
                    
                    top: 180px;
                }

                @include responsive(UHD) {

                    font-size: 22rem;
                    
                    top: 260px;
                }
            }

            &#h1Name {

                color: $white;

                filter: drop-shadow(0 0 2px $purple);

                text-wrap: nowrap;
                font-family: 'Torchzilla', sans-serif;
                font-weight: 100;
                font-size: 1.5rem; 

                top: -20px;
                left: calc(50% + 40px);

                @include responsive(mobile) {

                    font-size: 2rem;

                    top: -40px;
                    left: 65%;
                }

                @include responsive(tablet) {

                    font-size: 2.5rem;
                }

                @include responsive(desktop) {

                    font-size: 3rem;
                }

                @include responsive(bigScreen) {

                    font-size: 3.5rem;
                }

                @include responsive(FHD) {

                    font-size: 5rem;

                    top: -60px;
                }

                @include responsive(UHD) {

                    font-size: 7rem;
                }
            }
        }
    }
}