/// IMPORT FILES
@use 'variables' as *;

/// CONTENT
nav.sidebar  {
    
    display: none;

    position: fixed;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    top: 50%;
    left: 20px;

    z-index: 999;
    
    border-radius: 100px;

    @include responsive(bigScreen) {

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
    }

    ul {

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 1.2rem;

        position: relative;

        &::after {

            content: "";
            
            position: absolute;
            -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                    transform: translateX(-50%);
            top: calc(100% + 1.7rem);
            left: 50%;

            width: 5px;
            height: 100px;
            border-radius: 100px;

            background: $hotGradientDiagonal;

            -webkit-box-shadow: 0 0 5px $orange;

                    box-shadow: 0 0 5px $orange;
        }

        li {

            width: 50px;
            height: 50px;

            -webkit-transition: 0.3s ease-out;

            -o-transition: 0.3s ease-out;

            transition: 0.3s ease-out;

            border-radius: 100px;

            display: -webkit-box;

            display: -ms-flexbox;

            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;

            a {

                height: 50%;
                width: 50%;

                font-size: 1.6rem;

                background: $hotGradientDiagonal;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                color: transparent;
                
                -webkit-filter: drop-shadow(0 0 2px $orange);
                
                        filter: drop-shadow(0 0 2px $orange);

                display: -webkit-box;

                display: -ms-flexbox;

                display: flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;

                -webkit-transition: 0.3s ease-in-out;

                -o-transition: 0.3s ease-in-out;

                transition: 0.3s ease-in-out;

                &:hover {

                    -webkit-transform: scale(1.1);

                        -ms-transform: scale(1.1);

                            transform: scale(1.1);
                }
            }

            &:has(.active) {

                background-color: $purple;

                a {

                    -webkit-transform: scale(1.2);

                        -ms-transform: scale(1.2);

                            transform: scale(1.2);
                }
            }
        }
    }
}