/// IMPORT FILES
@use 'variables' as *;
@use 'buttons' as *;

/// CONTENT
.topMenu {

    position: fixed;
    z-index: 999;
    right: 20px;
    
    width: auto;
    height: auto;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;

    -webkit-box-align: center;

        -ms-flex-align: center;

            align-items: center;
    gap: 2rem;

    padding-top: 20px;

    .btnWrapper {

        .btn {

            font-size: 0.8rem;

            padding: 0.8rem 1rem;

            @include responsive(tablet) {

                font-size: 1rem;
            }

            &.mobile {

                display: block;

                @include responsive(tablet) {

                    display: none;
                }
            }

            &.desktop {

                display: none;

                @include responsive(tablet) {

                    display: block;
                }
            }
        }
    }

    .musicBtn {

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;

        cursor: pointer;

        margin-right: 10px;

        position: relative;

        img {

            cursor: pointer;

            -webkit-filter: drop-shadow(0 0 5px $orange);

                    filter: drop-shadow(0 0 5px $orange);

            z-index: 0;
        }

        .wave1, .wave2 {

            position: absolute;

            top: 50%;
            left: calc(100% + 10px);
            -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%); 

            -webkit-filter: drop-shadow(0 0 5px $orange); 

                    filter: drop-shadow(0 0 5px $orange);

            opacity: 100%;
            
            -webkit-transition: opacity 0.2s ease;
            
            -o-transition: opacity 0.2s ease;
            
            transition: opacity 0.2s ease;
        }

        .wave2 {

            left: calc(100% + 20px);
        }

        &::before, &::after {

            content: "";

            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%) rotate(45deg);
                -ms-transform: translate(-50%, -50%) rotate(45deg);
                    transform: translate(-50%, -50%) rotate(45deg);

            width: 200%;
            height: 5px;
            border-radius: 10px;

            opacity: 0;

            background: $orange;

            z-index: 2;

            -webkit-transition: opacity 0.2s ease;

            -o-transition: opacity 0.2s ease;

            transition: opacity 0.2s ease;
        }

        &::after {

            -webkit-transform: translate(-50%, -50%) rotate(-45deg);

                -ms-transform: translate(-50%, -50%) rotate(-45deg);

                    transform: translate(-50%, -50%) rotate(-45deg);
        }

        &.muted {

            &::before, &::after {

                content: "";

                opacity: 100%;
            }

            .wave1, .wave2 {

                opacity: 0%;
            }
        }
    }
}