///// COLORS
$deepPurple                     : #18132A;
$darkPurple                     : #2A214A;
$purple                         : #403568;
$lightPurple                    : #5B4B97;

$purpleGradient                 : linear-gradient(to bottom, $deepPurple 0%, $darkPurple 50%);

$pink                           : #DB408E;
$yellow                         : #FFDC57;

$hotGradientVertical            : linear-gradient(to bottom, $yellow, $pink);
$hotGradientMovingVertical      : linear-gradient(to bottom, $yellow, $pink, $yellow);

$hotGradientHorizontal          : linear-gradient(to right, $yellow, $pink);
$hotGradientMovingHorizontal    : linear-gradient(to right, $yellow, $pink, $yellow);

$hotGradientDiagonal            : linear-gradient(to bottom right, $yellow, $pink);
$hotGradientMovingDiagonal      : linear-gradient(to bottom right, $yellow, $pink, $yellow, $pink, $yellow);

$blue                           : #2FABD9;
$green                          : #00D4AA;

$coldGradientVertical           : linear-gradient(to bottom, $green, $blue);
$coldGradientHorizontal         : linear-gradient(to right, $green, $blue);

$orange                         : #ED8E73;

$white                          : #FEFEFA;

///// FONTS
@font-face { // MAIN TITLES (h1 + custom)
  font-family: 'Horsemen';
  src: url('../fonts/Horsemen.woff2') format('woff2'),
       url('../fonts/Horsemen.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face { // BUTTONS AND H2
  font-family: 'RussoOne';
  src: url('../fonts/RussoOne.woff2') format('woff2'),
       url('../fonts/RussoOne.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face { // H3
  font-family: 'Neon';
  src: url('../fonts/Neon.woff2') format('woff2'),
       url('../fonts/Neon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face { // PARAGRAPHS REGULAR
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.woff2') format('woff2'),
       url('../fonts/Raleway-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face { // PARAGRAPHS BOLD
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Bold.woff2') format('woff2'),
       url('../fonts/Raleway-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face { // TAGS
  font-family: 'Audiowide';
  src: url('../fonts/Audiowide.woff2') format('woff2'),
       url('../fonts/Audiowide.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face { // CUSTOM INTRO
  font-family: 'Torchzilla';
  src: url('../fonts/torchzilla.woff2') format('woff2'),
       url('../fonts/torchzilla.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face { // CUSTOM INTRO
  font-family: 'AXROutrunner';
  src: url('../fonts/AXROutrunner.woff2') format('woff2'),
       url('../fonts/AXROutrunner.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

///// SCREEN SIZE
$tinyScreen : 0; // default
$mobile     : 400px;
$tablet     : 768px;
$desktop    : 1024px;
$bigScreen  : 1440px;
$FHD        : 1920px;
$UHD        : 2560px;

@mixin responsive($breakpoint) {

  @if $breakpoint == mobile {
    @media (min-width: $mobile) { @content; }
  }

  @if $breakpoint == tablet {
    @media (min-width: $tablet) { @content; }
  }

  @if $breakpoint == desktop {
    @media (min-width: $desktop) { @content; }
  }

  @if $breakpoint == bigScreen {
    @media (min-width: $bigScreen) { @content; }
  }

  @if $breakpoint == FHD {
    @media (min-width: $FHD) { @content; }
  }

  @if $breakpoint == UHD {
    @media (min-width: $UHD) { @content; }
  }
}