/* Reset CSS minimaliste */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

button, input, select, textarea {
  font: inherit;
  background: none;
  color: inherit;
  outline: none;
  border-radius: 0;
  appearance: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul, ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "RussoOne";
  src: url("../fonts/RussoOne.woff2") format("woff2"), url("../fonts/RussoOne.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neon";
  src: url("../fonts/Neon.woff2") format("woff2"), url("../fonts/Neon.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Audiowide";
  src: url("../fonts/Audiowide.woff2") format("woff2"), url("../fonts/Audiowide.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Torchzilla";
  src: url("../fonts/torchzilla.woff2") format("woff2"), url("../fonts/torchzilla.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AXROutrunner";
  src: url("../fonts/AXROutrunner.woff2") format("woff2"), url("../fonts/AXROutrunner.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Horsemen";
  src: url("../fonts/Horsemen.woff2") format("woff2"), url("../fonts/Horsemen.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.container {
  width: 100%;
  min-height: 80vh;
  position: relative;
  padding: 180px 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: min(1280px, 95%);
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media (min-width: 768px) {
  .row {
    flex-direction: row;
  }
}

.col-8 {
  flex: 8;
}

.col-4 {
  flex: 4;
}

@keyframes gradientMovingHorizontal {
  0% {
    background-position: 200% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradientMovingVertical {
  0% {
    background-position: 50% 200%;
  }
  100% {
    background-position: 50% 0%;
  }
}
@keyframes gradientMovingDiagonal {
  0% {
    background-position: 200% 200%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.btnWrapper {
  position: relative;
  display: inline-block;
}
.btnWrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: -0.2rem;
  border-radius: 12px;
  background-image: linear-gradient(to bottom right, #FFDC57, #DB408E, #FFDC57, #DB408E, #FFDC57);
  background-size: 200% 200%;
  animation: gradientMovingDiagonal 10s linear infinite;
  z-index: -1;
  transition: opacity 0.3s ease-in-out;
}
.btnWrapper .btn {
  font-size: 1.125rem;
  font-family: "RussoOne", sans-serif;
  color: #FEFEFA;
  padding: 1rem 2rem;
  background-color: #2A214A;
  border: none;
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 0 15px #ED8E73;
  cursor: pointer;
}
.btnWrapper:hover .btn {
  background: linear-gradient(to bottom right, #FFDC57, #DB408E, #FFDC57, #DB408E, #FFDC57);
  background-size: 200% 200%;
  animation: gradientMovingDiagonal 10s linear infinite;
  color: #403568;
  transform: translate(-5px, -5px);
}
.btnWrapper:hover::before {
  opacity: 0.5;
}
.btnWrapper.active .btn {
  background: linear-gradient(to bottom right, #FFDC57, #DB408E, #FFDC57, #DB408E, #FFDC57);
  background-size: 200% 200%;
  animation: gradientMovingDiagonal 10s linear infinite;
  color: #403568;
  transform: translate(-5px, -5px);
  cursor: default;
}
.btnWrapper.active::before {
  opacity: 0.5;
}

nav.sidebar {
  display: none;
  position: fixed;
  transform: translateY(-50%);
  top: 50%;
  left: 20px;
  z-index: 999;
  background-color: #403568;
  padding: 10px;
  border-radius: 100px;
  box-shadow: 0 0 2px #18132A;
}
@media (min-width: 1440px) {
  nav.sidebar {
    display: flex;
  }
}
nav.sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  position: relative;
}
nav.sidebar ul::after {
  content: "";
  position: absolute;
  transform: translateX(-50%);
  top: calc(100% + 1.7rem);
  left: 50%;
  width: 5px;
  height: 100px;
  border-radius: 100px;
  background: linear-gradient(to bottom right, #FFDC57, #DB408E);
  box-shadow: 0 0 5px #ED8E73;
}
nav.sidebar ul li {
  aspect-ratio: 1/1;
  padding: 15px;
  transition: 0.3s ease-out;
  border-radius: 100px;
}
nav.sidebar ul li a {
  font-size: 1.6rem;
  background: linear-gradient(to bottom right, #FFDC57, #DB408E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  filter: drop-shadow(0 0 2px #ED8E73);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}
nav.sidebar ul li a:hover {
  transform: scale(1.2);
}
nav.sidebar ul li:has(.active) {
  background-color: #2A214A;
}
nav.sidebar ul li:has(.active) a {
  transform: scale(1.2);
}

.topMenu {
  position: fixed;
  z-index: 999;
  right: 20px;
  width: auto;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  padding-top: 20px;
}
.topMenu .btnWrapper .btn {
  font-size: 0.8rem;
  padding: 0.8rem 1rem;
}
@media (min-width: 768px) {
  .topMenu .btnWrapper .btn {
    font-size: 1rem;
  }
}
.topMenu .btnWrapper .btn.mobile {
  display: block;
}
@media (min-width: 768px) {
  .topMenu .btnWrapper .btn.mobile {
    display: none;
  }
}
.topMenu .btnWrapper .btn.desktop {
  display: none;
}
@media (min-width: 768px) {
  .topMenu .btnWrapper .btn.desktop {
    display: block;
  }
}
.topMenu .musicBtn {
  display: flex;
  cursor: pointer;
  margin-right: 10px;
  position: relative;
}
.topMenu .musicBtn img {
  cursor: pointer;
  filter: drop-shadow(0 0 5px #ED8E73);
  z-index: 0;
}
.topMenu .musicBtn .wave1, .topMenu .musicBtn .wave2 {
  position: absolute;
  top: 50%;
  left: calc(100% + 10px);
  transform: translate(-50%, -50%);
  filter: drop-shadow(0 0 5px #ED8E73);
  opacity: 100%;
  transition: opacity 0.2s ease;
}
.topMenu .musicBtn .wave2 {
  left: calc(100% + 20px);
}
.topMenu .musicBtn::before, .topMenu .musicBtn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 200%;
  height: 5px;
  border-radius: 10px;
  opacity: 0;
  background: #ED8E73;
  z-index: 2;
  transition: opacity 0.2s ease;
}
.topMenu .musicBtn::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.topMenu .musicBtn.muted::before, .topMenu .musicBtn.muted::after {
  content: "";
  opacity: 100%;
}
.topMenu .musicBtn.muted .wave1, .topMenu .musicBtn.muted .wave2 {
  opacity: 0%;
}

#introSection {
  background: linear-gradient(to bottom, #18132A 0%, #2A214A 50%);
  min-height: auto !important;
  display: grid;
  grid-template-areas: "stack";
  margin: 0;
  padding: 0;
  z-index: 0;
}
#introSection * {
  grid-area: stack;
  align-self: center;
  justify-self: center;
}
#introSection #grid {
  z-index: 0;
}
#introSection #stars {
  z-index: 1;
}
#introSection #sun {
  z-index: 2;
}
#introSection #palms {
  z-index: 3;
}
#introSection #horizon {
  z-index: 4;
}
#introSection #transition {
  z-index: 10;
  transform: translateY(10px);
}
#introSection h1 {
  z-index: 5;
  display: flex;
  flex-direction: column;
  transform: rotate(-5deg);
  color: white;
  line-height: 2.5rem;
}
@media (min-width: 400px) {
  #introSection h1 {
    line-height: 3.5rem;
  }
}
@media (min-width: 768px) {
  #introSection h1 {
    line-height: 5.5rem;
  }
}
@media (min-width: 1024px) {
  #introSection h1 {
    line-height: 7.5rem;
  }
}
@media (min-width: 1920px) {
  #introSection h1 {
    line-height: 9rem;
  }
}
@media (min-width: 2560px) {
  #introSection h1 {
    line-height: 11rem;
  }
}
#introSection h1 #h1Web {
  z-index: 5;
  color: #ED8E73;
  filter: drop-shadow(0 0 3px #ED8E73) drop-shadow(0 0 5px #403568);
  font-family: "Horsemen", sans-serif;
  font-weight: 100;
  font-size: 2.5rem;
  align-self: center;
}
@media (min-width: 400px) {
  #introSection h1 #h1Web {
    font-size: 3.5rem;
  }
}
@media (min-width: 768px) {
  #introSection h1 #h1Web {
    font-size: 6rem;
  }
}
@media (min-width: 1024px) {
  #introSection h1 #h1Web {
    font-size: 8rem;
  }
}
@media (min-width: 1920px) {
  #introSection h1 #h1Web {
    font-size: 10rem;
  }
}
@media (min-width: 2560px) {
  #introSection h1 #h1Web {
    font-size: 12rem;
  }
}
#introSection h1 #h1Dev {
  z-index: 6;
  filter: drop-shadow(0 0 5px #DB408E) drop-shadow(0 0 5px #DB408E) drop-shadow(0 0 5px #DB408E) drop-shadow(0 0 2px #403568);
  font-family: "AXROutrunner", sans-serif;
  font-weight: 100;
  font-size: 4rem;
  align-self: center;
}
@media (min-width: 400px) {
  #introSection h1 #h1Dev {
    font-size: 6rem;
  }
}
@media (min-width: 768px) {
  #introSection h1 #h1Dev {
    font-size: 10rem;
  }
}
@media (min-width: 1024px) {
  #introSection h1 #h1Dev {
    font-size: 12rem;
  }
}
@media (min-width: 1920px) {
  #introSection h1 #h1Dev {
    font-size: 15rem;
  }
}
@media (min-width: 2560px) {
  #introSection h1 #h1Dev {
    font-size: 18rem;
  }
}
#introSection h1 #h1Name {
  z-index: 6;
  filter: drop-shadow(0 0 2px #403568);
  text-wrap: nowrap;
  font-family: "Torchzilla", sans-serif;
  font-weight: 100;
  font-size: 1.2rem;
  align-self: end;
}
@media (min-width: 400px) {
  #introSection h1 #h1Name {
    font-size: 1.8rem;
  }
}
@media (min-width: 768px) {
  #introSection h1 #h1Name {
    font-size: 2.8rem;
  }
}
@media (min-width: 1024px) {
  #introSection h1 #h1Name {
    font-size: 3.2rem;
  }
}
@media (min-width: 1920px) {
  #introSection h1 #h1Name {
    font-size: 4.2rem;
  }
}
@media (min-width: 2560px) {
  #introSection h1 #h1Name {
    font-size: 5.2rem;
  }
}

.landscape {
  display: block;
  width: 100%;
  aspect-ratio: 16/9;
}
@media (orientation: portrait) {
  .landscape {
    display: none;
  }
}

.portrait {
  display: block;
  width: 100%;
  aspect-ratio: 3/4;
}
@media (orientation: landscape) {
  .portrait {
    display: none;
  }
}

#bioSection .row {
  row-gap: 2rem;
  column-gap: 6rem;
}
#bioSection .horsemen {
  font-family: "horsemen", sans-serif;
  font-weight: 100;
  padding: 10px;
}
#bioSection .horsemen::before {
  display: none;
}
#bioSection .horsemen::after {
  padding: 10px;
}

.custom-shape-divider-top-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 300%;
  overflow: hidden;
  line-height: 0;
}
@media (min-width: 768px) {
  .custom-shape-divider-top-card {
    width: 200%;
  }
}
@media (min-width: 1024px) {
  .custom-shape-divider-top-card {
    width: 100%;
  }
}
.custom-shape-divider-top-card svg {
  position: relative;
  display: block;
  width: calc(102% + 1.3px);
  height: 100px;
}
.custom-shape-divider-top-card .shape-fill {
  fill: #2A214A;
}

.custom-shape-divider-bottom-card {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
@media (min-width: 768px) {
  .custom-shape-divider-bottom-card {
    width: 200%;
  }
}
@media (min-width: 1024px) {
  .custom-shape-divider-bottom-card {
    width: 100%;
  }
}
.custom-shape-divider-bottom-card svg {
  position: relative;
  display: block;
  width: calc(102% + 1.3px);
  height: 107px;
}
.custom-shape-divider-bottom-card .shape-fill {
  fill: #2A214A;
}

#cardSection {
  background-color: #5B4B97;
}
#cardSection .cardsContainer {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  margin-top: 50px;
  width: 100%;
}
#cardSection .cardsContainer .row {
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 4rem;
  align-items: center;
}

.cardContainer {
  width: 300px;
  height: 320px;
  transition: 500ms ease-out;
}
@media (min-width: 2560px) {
  .cardContainer {
    width: 500px;
    height: 484px;
  }
}
.cardContainer .card {
  width: 100%;
  height: 100%;
  position: relative;
}
.cardContainer .card .front {
  width: 100%;
  height: 100%;
  position: relative;
}
.cardContainer .card .cardImg {
  aspect-ratio: 16/9;
}
.cardContainer .card .cardOnline, .cardContainer .card .cardArchive {
  position: absolute;
  top: 3%;
  left: 3%;
  background-color: #00D4AA;
  padding: 5px 15px;
  border-radius: 10px;
  color: #FEFEFA;
  font-family: "AudioWide", sans-serif;
  font-size: 1rem;
  box-shadow: 0 0 8px #403568;
}
@media (min-width: 2560px) {
  .cardContainer .card .cardOnline, .cardContainer .card .cardArchive {
    font-size: 1.2rem;
  }
}
.cardContainer .card .cardArchive {
  background-color: #ED8E73 !important;
}
.cardContainer .card .cardBody {
  background-color: #403568;
  padding: 10px;
  position: relative;
  z-index: 0;
}
.cardContainer .card .cardBody .cardText {
  width: 50%;
}
.cardContainer .card .cardBody .cardText .cardTitle {
  color: #FEFEFA;
  font-size: 2rem;
  font-family: "Neon", sans-serif;
  position: relative;
  width: fit-content;
  z-index: 2;
  text-shadow: 0 0 2px #FEFEFA;
  margin-bottom: 20px;
}
@media (min-width: 2560px) {
  .cardContainer .card .cardBody .cardText .cardTitle {
    font-size: 3rem;
  }
}
.cardContainer .card .cardBody .cardText .cardTags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.cardContainer .card .cardBody .cardText .cardTags span {
  background: linear-gradient(to bottom right, #FFDC57, #DB408E, #FFDC57, #DB408E, #FFDC57);
  animation: gradientMovingDiagonal 20s linear infinite;
  background-size: 200% 200%;
  z-index: 2;
  padding: 2px 10px;
  border-radius: 10px;
  color: #2A214A;
  font-family: "AudioWide", sans-serif;
  font-size: 1rem;
  text-align: center;
  box-shadow: 0 0 5px #ED8E73;
  text-wrap: nowrap;
}
@media (min-width: 2560px) {
  .cardContainer .card .cardBody .cardText .cardTags span {
    font-size: 1.5rem;
  }
}
.cardContainer .card .cardBody .cardIcon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 2;
  max-width: 45%;
  height: auto;
  max-height: 200px;
  filter: drop-shadow(0 0 3px #2A214A);
  display: none;
}
@media (min-width: 768px) {
  .cardContainer .card .cardBody .cardIcon {
    display: block;
  }
}
.cardContainer--online {
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0 20px #403568;
}
.cardContainer--online:hover {
  cursor: pointer;
  transform: translateY(-5%);
}
.cardContainer--online:hover .cardBody::before {
  transform: skew(-45deg) translate(250%, -10%);
}
.cardContainer--online:hover .cardBody .cardTitle::before {
  width: 100% !important;
}
.cardContainer--online .cardBody::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 120%;
  z-index: 1;
  opacity: 30%;
  background: #FEFEFA;
  filter: blur(50px);
  transition: 500ms ease-out;
  transform: skew(-45deg) translate(-200%, -10%);
  display: none;
}
@media (min-width: 768px) {
  .cardContainer--online .cardBody::before {
    display: block;
  }
}
.cardContainer--online .cardBody .cardTitle::before {
  content: "";
  position: absolute;
  bottom: 8px;
  left: 0;
  width: 0%;
  height: 2px;
  border-radius: 50%;
  background-color: #FEFEFA;
  box-shadow: 0 0 2px #FEFEFA;
  transition: 500ms ease-out;
  display: none;
}
@media (min-width: 768px) {
  .cardContainer--online .cardBody .cardTitle::before {
    display: block;
  }
}
.cardContainer--archive:hover .card {
  cursor: pointer;
  transform: rotateY(180deg);
}
.cardContainer--archive .card {
  transition: transform 1500ms;
  transform-style: preserve-3d;
}
.cardContainer--archive .card .front, .cardContainer--archive .card .back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 20px #403568;
  object-fit: contain;
}
.cardContainer--archive .card .back {
  transform: rotateY(180deg);
}
.cardContainer--archive .card .back .cardBody--back {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #403568;
}
.cardContainer--archive .card .back .cardBody--back .cardText--back {
  width: 100%;
}
.cardContainer--archive .card .back .cardBody--back .cardText--back .cardTitle--back {
  color: #FEFEFA;
  font-size: 2rem;
  font-family: "Neon", sans-serif;
  position: relative;
  width: fit-content;
  z-index: 2;
  text-shadow: 0 0 2px #FEFEFA;
  margin-bottom: 20px;
}
.cardContainer--archive .card .back .cardBody--back .cardText--back p {
  font-size: 1rem;
}
@media (min-width: 2560px) {
  .cardContainer--archive .card .back .cardBody--back .cardText--back p {
    font-size: 1.6rem;
  }
}

.selector {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px 10px;
  width: min(100%, 1040px);
  margin: 50px 0;
}

.skillsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 5rem;
  row-gap: 4rem;
}
@media (min-width: 768px) {
  .skillsContainer {
    column-gap: 10rem;
  }
}
.skillsContainer .skillIcon {
  width: 4rem;
  height: auto;
  filter: drop-shadow(0 0 3px #ED8E73);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.skillsContainer .skillIcon.hidden {
  opacity: 0.5;
  filter: drop-shadow(0 0 0);
}
@media (min-width: 768px) {
  .skillsContainer .skillIcon {
    width: 4.5rem;
  }
}

.row .h2 {
  font-size: 1rem !important;
}

form {
  width: 80%;
  height: auto;
}
@media (min-width: 768px) {
  form {
    width: 60%;
  }
}
form .row {
  justify-content: space-evenly;
  margin-top: 50px;
  gap: 50px;
}
@media (min-width: 768px) {
  form .row {
    gap: 6rem;
  }
}
form .row .inputGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
}
form .row .inputGroup label, form .row .inputGroup input, form .row .inputGroup textarea {
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  text-align: left;
  color: #FEFEFA;
}
form .row .inputGroup label {
  font-size: 1.25rem;
  margin-bottom: 10px;
}
form .row .inputGroup input, form .row .inputGroup textarea {
  border: 1px solid transparent;
  border-radius: 10px;
  background-image: linear-gradient(#403568, #403568), linear-gradient(to right, #FFDC57, #DB408E);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  padding: 10px;
  width: 100%;
  color: #FEFEFA;
  box-shadow: 0 0 5px #ED8E73;
}

footer.container {
  padding: 50px 0;
  min-height: unset;
}
footer.container .row {
  justify-content: space-between;
}
footer.container .row.footerIcons {
  justify-content: space-evenly;
  margin-bottom: 50px;
  flex-direction: row;
}
footer.container .row.footerIcons .footerIcon {
  width: 60px;
  height: auto;
  filter: drop-shadow(0 0 2px #ED8E73);
  transition: 0.5s ease;
}
footer.container .row.footerIcons .footerIcon:hover {
  scale: 1.1;
}

:root {
  scroll-behavior: smooth;
}

html {
  min-height: 100vh;
  height: auto;
  overflow-x: hidden;
}

main {
  z-index: 100;
  position: relative;
  background-color: #2A214A;
}

body {
  background: #2A214A;
  min-height: 100vh;
  height: auto;
  text-align: center;
  overflow-x: hidden;
}
@media (min-width: 768px) {
  body {
    text-align: left;
  }
}
body h2 {
  display: inline-block;
  position: relative;
  background: linear-gradient(to right, #FFDC57, #DB408E);
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 2rem;
  font-family: "RussoOne", sans-serif;
  font-weight: 100;
  letter-spacing: 0.1rem;
  width: fit-content;
  filter: drop-shadow(0 0 2px #ED8E73);
}
body h2::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, #FFDC57, #DB408E);
  border-radius: 100px;
  bottom: 10%;
}
body p {
  font-size: 1.25rem;
  font-family: "Raleway", sans-serif;
  margin: 1rem 0;
  line-height: 1.6;
  color: #FEFEFA;
}
body .img-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}
body .img-wrapper img {
  width: 100%;
  height: auto;
}

/*# sourceMappingURL=style.css.map */
